a {
  color: red;
}
.hoje {
  color: darkred;
}
.amanha {
  color: darkblue;
}
a {
  text-decoration: none;
}
a,
h2 {
  color: seagreen;
}
p {
  font-size: 30px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
